<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="icon" type="image/png" href="{{site.img_path}}favicon_64.png">
  <link rel="stylesheet" href="{{ site.css_path }}style.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Content Security Policy: Only allow local images, styles, etc. Disable JavaScript and all the other stuff -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src 'self'; img-src 'self'; script-src *;"> -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src 'self'; img-src 'self'; script-src 'self' 'unsafe-inline';"> -->

  <!-- Don't track users with the referrer header -->
  <meta name="referrer" content="no-referrer">

  {% if page.custom_css %}
    <!-- Custom CSS includes -->
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="{{ site.css_path }}{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
  {% endif %}

  {% if page.custom_js %}
    <!-- Custom JavaScript includes -->
    {% for scritp_file in page.custom_js %}
      <script src="{{ site.js_path }}{{ scritp_file }}.js"></script>
    {% endfor %}
  {% endif %}
</head>
