<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/" title="Go back to start. Do not pass go. Do not collect $$$.">
      <img class="site-icon" src="{{ site.img_path }}sixtwo_icon_64.png" alt="my logo">
      {{ site.title }}
    </a>

    {% if page.custom_menu %}
      {% assign menu_titles = page.custom_menu %}
    {% else %}
      {% assign menu_titles = site.pages | where_exp: "menu_entry", "menu_entry.menu_title" %}
    {% endif %}

    {% assign titles_size = menu_titles | map: 'menu_title' | join: '' | size %}

    {% if titles_size > 0 %}
      <!-- Start: dynamically generated menu -->
      <nav class="site-nav" href="#">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>


        <div class="trigger">
          {% for entry in menu_titles %}
            <a class="page-link" href="{{ entry.url | prepend: site.baseurl }}">
              {{ entry.menu_title }}
            </a>
          {% endfor %}
        </div>
      </nav>
      <!-- End: dynamically generated menu -->
    {% else %}
      <!-- No menu was generated -->
    {% endif %}
  </div>
</header>
