a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $color-link-hover !important;
  }
}

.site-header {
  border-top: 0px;
  vertical-align: middle;

  img {
    width: 40px;
  }
}

.site-footer {
  color: gray;
  text-align: center;
}

.button, button {
  border: 2px solid $color-link-hover;
  border-radius: 10px;
  padding: 10px 20px;
  color: black;
  min-width: 150px;
  font-size: 12pt;

  &:hover {
    cursor: pointer;
    background-color: $color-link-hover;
  }
}
