// By default it is a blue box, but you can use the "*-message" classes to change that

.message-box {
  color: #303030;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background: #e0f7ff;
  border: 1px solid #8ed9f6;

  span {
    font-weight:bold;
    text-transform:uppercase;
  }
}

.error-message {
  background: #ffeaea;
  border-color: #f5aca6;
}

.warning-message {
  background: #fffac3;
  border-color: #f0c779;
}
